extends layout
block bodyScripts
  script(type='text/javascript').
    $(document).ready(function(){
       $('#applicationsGrid').jsGrid({
         width: "100%", pageSize: 5, sorting: true, paging: true, filtering: true, pageLoading:true, autoload: true,
         controller: {
          loadData: function (filter) {
            var d = $.Deferred();
            console.log(filter);
            console.log("/applications?embed=1&offset="+(filter.pageIndex-1)+"&limit="+filter.pageSize);
        		$.ajax({
                type: "GET",
                url: "/applications?no_cache=1&offset="+(filter.pageIndex-1)+"&limit="+filter.pageSize,
                dataType: "json"
              }).done(function(result) {
                //console.log(JSON.stringify(result));
                d.resolve({
                    data: result.applications,
                    itemsCount: result.count
                });
              });
              return d.promise();
          }
        },
        fields: [
             { name: "id", type: "text", title: "ID",
               itemTemplate: function(value, item) {
                 return $("<a>").attr("href", "/applications/"+item.id).text(value);
                }
             },
             { name: "name", type: "text", title: "Name" },
             { name: "email", type: "text", title: "Owner",
               itemTemplate: function(value, items) {
                   var col = $("<td>");
                    $.each(items.owners, function (i, item) {
                      $(col).append($("<a>").attr("href", "/users/"+item.userId).text(item.email))
                             .append("&nbsp;");
                   });
                 return col;
                }
             },
             { type: "control", width: "10", editButton: false, deleteButton: false,
               _createFilterSwitchButton: function() {
                return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
               }
             }
         ]
       });
       $("#applicationsGrid").jsGrid("option", "filtering", false);
    });
block content
    .jumbotron.wicked-admin-title
        .container.wicked-title-container
            h1 All Applications

            p Index of all applications in the API Portal.

    .container.wicked-container
        br
        div#applicationsGrid
