extends layout

block content
  - var tocPointers = [];
  .jumbotron.wicked-content-title
    .container.wicked-title-container.mt-5
        h1= title
        if subTitle
            != subTitle

  .container.wicked-container

    if !authUser
      h4 You are not logged in.

      p.
        Your are currently not logged in. Some pages and APIs may be restricted to logged in users.

      a(href='/login?redirect=/content/toc').btn.btn-primary.btn-lg Log in &raquo;

      br
    br
    br

    if (toc)
      each cat, name in toc
        .card.border.mb-3
          .card-header
            h4.card-title.mb-0= cat.name
          .card-body
            ul.mb-0
              each entry in cat.entries
                li
                  a(href=entry.url)= entry.title
