extends layout

block content
    if showTitle
        .jumbotron.wicked-content-title.mt-5
            .container.wicked-title-container
                h1= title
                if subTitle
                    != subTitle

    if !omitContainer    
        .container.wicked-container
            != content
    else
        != content
