extends ../layout

mixin helpItem(anchor, title)
  if (toc.length > 0)
    br
  - toc.push({ anchor: anchor, title: title })
  a(name='#{anchor}')
  h4= title

block content
  - var toc = []

  .container.mt-5.pt-5
    .row
      .col-md-8

        block help_content

      .col-md-4.position-sticky

        h3
          a(href='/help') Help Index

        h4 Site Map

        ul
          for tocItem in toc
            li
              a(href='##{tocItem.anchor}')= tocItem.title

